.hero-section {
  text-align: right;
  background-image: url("../img/prevention.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 6.25rem 3.125rem;
}

.hero-section-login {
  background-image: url("../img/prevention.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

h1 {
	color: black;
}

footer {
    background-color: black !important;
    color: azure;
    text-align: center;
    padding: 0%;
    bottom: 0;
    width: 100%;
    position:fixed;
}
  
footer a {
    color: #ffffff;
    text-decoration: none;
}

.hide-footer {
  display: none;
}